.vs/*
*.vsidx
*.vs\ProjetoPetShop\DesignTimeBuild\.dtbcache.v2

.vs/*
*.vsidx
*.vs\ProjetoPetShop\DesignTimeBuild\.dtbcache.v2
ProjetoPetShop/.vs/ProjetoPetShop/DesignTimeBuild/.dtbcache.v2
ProjetoPetShop/.vs/ProjetoPetShop/v17/.suo
